@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Langar&family=Pacifico&display=swap");

@font-face {
  font-family: "SansitaSwashed-Black";
  font-display: swap;
  src: url("../fonts/SansitaSwashed-Black.woff") format("woff"), url("../fonts/SansitaSwashed-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SansitaSwashed-Bold";
  font-display: swap;
  src: url("../fonts/SansitaSwashed-Bold.woff") format("woff"), url("../fonts/SansitaSwashed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SansitaSwashed-Light";
  font-display: swap;
  src: url("../fonts/SansitaSwashed-Light.woff") format("woff"), url("../fonts/SansitaSwashed-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SansitaSwashed-ExtraBold";
  font-display: swap;
  src: url("../fonts/SansitaSwashed-ExtraBold.woff") format("woff"), url("../fonts/SansitaSwashed-ExtraBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SansitaSwashed-SemiBold";
  font-display: swap;
  src: url("../fonts/SansitaSwashed-SemiBold.woff") format("woff"), url("../fonts/SansitaSwashed-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SansitaSwashed-Regular";
  font-display: swap;
  src: url("../fonts/SansitaSwashed-Regular.woff") format("woff"), url("../fonts/SansitaSwashed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SansitaSwashed-Medium";
  font-display: swap;
  src: url("../fonts/SansitaSwashed-Medium.woff") format("woff"), url("../fonts/SansitaSwashed-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header,
nav,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow-y: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  bottom: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  width: 100%;
  height: 120px;
  padding: 0 140px;
  position: relative;
}

.header .header__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
}

.header .header__container .header__logo .session__name {
  font-size: 40px;
  font-size: calc(10px + 30 * (100vw / 1600));
  font-weight: 600;
  font-family: "Pacifico", cursive;
}

.header .menu__body {
  width: 50vw;
  height: 500px;
  position: absolute;
  top: 0;
  right: -1000px;
  z-index: 4;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #e0e0e0;
}

.header .menu__body .body__container {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.589);
          box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.589);
}

.header .menu__body .body__container .menu__burger {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: absolute;
  right: 160px;
  top: 55px;
}

.header .menu__body .body__container .menu__burger .icon__burger {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 3;
  cursor: pointer;
}

.header .menu__body .body__container .menu__burger .icon__burger span {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  height: 4px;
  background: black;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .menu__body .body__container .menu__burger .icon__burger span:first-child {
  top: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .menu__body .body__container .menu__burger .icon__burger span:last-child {
  top: 36px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .menu__body .body__container .menu__burger .icon__burger.active span {
  display: none;
}

.header .menu__body .body__container .menu__burger .icon__burger.active span:first-child {
  top: 16px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .menu__body .body__container .menu__burger .icon__burger.active span:last-child {
  top: 16px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .menu__body .body__container .nav {
  position: absolute;
  left: 50px;
  top: 100px;
  width: 100%;
  height: 80%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.header .menu__body .body__container .nav .ul {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header .menu__body .body__container .nav .li a {
  font-size: 40px;
  font-size: calc(10px + 30 * (100vw / 1600));
  font-family: "Pacifico", cursive;
  color: black;
}

.header .menu__body .body__container .nav .li::after {
  content: "";
  width: 0;
  height: 4px;
  background: #000;
  margin: 20px 0 5px 0;
  display: block;
}

.header .menu__body .body__container .nav .li:hover::after {
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .menu__body .body__container .secretar {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: calc(100px + 200 * (100vw / 1600));
  width: calc(100px + 150 * (100vw / 1600));
}

.header .menu__body .body__container .secretar .secreatar__container {
  width: 100%;
  height: 100%;
  position: relative;
}

.header .menu__body .body__container .secretar .secreatar__container .sec__img {
  position: absolute;
  top: 0;
  left: 1000px;
  width: 100%;
  height: 100%;
}

.header .menu__body .body__container .secretar .secreatar__container .sec__img.active {
  left: 0;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.header .menu__body .body__container .secretar .secreatar__container p {
  position: absolute;
  top: 50%;
  left: 3000px;
  width: 100%;
  -webkit-transform: translate(-25%, -50%);
      -ms-transform: translate(-25%, -50%);
          transform: translate(-25%, -50%);
  font-size: 30px;
  font-size: calc(15px + 15 * (100vw / 1600));
  color: white;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 2px black;
}

.header .menu__body .body__container .secretar .secreatar__container p.active {
  left: 50%;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.header .menu__body.active {
  right: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.t_j {
  text-align: justify;
}

.t_c {
  text-align: center;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f7f7f7;
  padding: 100px 0 100px 0;
}

.footer .footer__container {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__container .footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.footer .footer__container .footer__column p {
  margin-bottom: 5px;
}

.footer .footer__container .footer__column .footer__title {
  color: #757779;
  font-size: 14px;
}

.footer .footer__container .footer__column .footer__text {
  color: #848789;
  font-size: 14px;
}

.footer .footer__container .footer__column .footer__email {
  color: #848789;
  font-size: 14px;
}

.footer .footer__container .footer__column img {
  width: 35px;
  height: 35px;
}

.footer .footer__container .footer__column.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__container .footer__column.images img {
  margin-left: 15px;
}

.footer .footer__container .footer__column.images img:first-child {
  margin-left: 0;
}

.footer .footer__container .last__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .footer__container .last__column p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #848789;
  font-family: Lato;
  font-style: italic;
}

.footer .footer__container .last__column p img {
  margin-left: 10px;
  width: 55px;
  height: 36px;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: white;
  z-index: 10;
}

.progress .progressBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: black;
}

.menu__icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 3;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.menu__icon span {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  height: 4px;
  background: black;
  -webkit-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}

.menu__icon span:first-child {
  top: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__icon span:last-child {
  top: 36px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon__menu.active {
  opacity: 0;
  -webkit-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease;
}

body.lock {
  overflow-y: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 140px;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__title {
  font-size: calc(20px + 30 * (100vw / 1600));
  font-family: Roboto;
  font-weight: 700;
  text-align: center;
}

html {
  overflow-x: hidden;
}

.section__hello .container__hello .swiper-container {
  margin-top: 50px;
  min-height: 400px;
  width: 100%;
}

.section__hello .container__hello .swiper-container .swiper-wrapper {
  width: 100%;
}

.section__hello .container__hello .swiper-container .swiper-wrapper .swiper-slide {
  max-height: 500px;
  position: relative;
}

.section__hello .container__hello .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.section__hello .container__hello .swiper-container .swiper-wrapper .swiper-slide p {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-size: 30px;
  font-weight: 500;
  font-family: Roboto;
  text-transform: uppercase;
  color: wheat;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
}

.section__first-task .container__first-task .container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__first-task .container__first-task .container__header p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.section__first-task .container__first-task .container__header small {
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
}

.section__first-task .container__first-task .container__body {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__first-task .container__first-task .container__body form {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__first-task .container__first-task .container__body form .input__data {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__first-task .container__first-task .container__body form .input__data .container__input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__first-task .container__first-task .container__body form .input__data .container__input p {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.section__first-task .container__first-task .container__body form .input__data .container__input .rating {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  height: 30px;
  border-bottom: 1px solid #000;
}

.section__first-task .container__first-task .container__body form .input__data .container__input .time {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.section__first-task .container__first-task .container__body form .input__data .message {
  display: none;
  width: 100%;
  height: 50px;
  background: #eeeeee;
  padding: 10px 10px;
  margin-top: 10px;
}

.section__first-task .container__first-task .container__body form .input__data .message p.error {
  color: red;
}

.section__first-task .container__first-task .container__body form .input__data .message .numbers.error::before {
  content: "✖ удалите";
  margin-right: 5px;
  display: inline-block;
}

.section__first-task .container__first-task .container__body form .input__data .message p.valid {
  color: green;
}

.section__first-task .container__first-task .container__body form .input__data .message .numbers.valid::before {
  content: "✔";
  margin-right: 5px;
  display: inline-block;
}

.section__first-task .container__first-task .container__body form .input__data .message .numbers.valid::after {
  content: "отсутствуют";
  margin-left: 5px;
  display: inline-block;
}

.section__first-task .container__first-task .container__body form .input__data .message .string.error::before {
  content: "✖";
  margin-right: 5px;
  display: inline-block;
}

.section__first-task .container__first-task .container__body form .input__data .message .string.valid::before {
  content: "✔";
  margin-right: 5px;
  display: inline-block;
}

.section__first-task .container__first-task .container__body form .input__data .message .string.error::after {
  content: "неправельно";
  margin-left: 5px;
  display: inline-block;
}

.section__first-task .container__first-task .container__body form .input__data .message .string.valid::after {
  content: "правельно";
  margin-left: 5px;
  display: inline-block;
}

.section__first-task .container__first-task .container__body form .input__data + .input__data {
  margin-top: 20px;
}

.section__first-task .container__first-task .container__body form .full__message {
  width: 100%;
  background: #eeeeee;
  padding: 10px 10px;
  margin-top: 10px;
  display: none;
}

.section__first-task .container__first-task .container__body form button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  font-family: Roboto;
  background: #868686;
}

.section__first-task .container__first-task .container__body .result {
  width: 100%;
  background: #eeeeee;
  height: 40px;
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-family: Roboto;
  color: black;
}

@media (max-width: 768px) {
  .header {
    padding: 0 100px;
  }

  .header .menu__body .body__container .menu__burger {
    right: 100px;
  }

  .section {
    padding: 20px 90px;
  }

  .section__first-task .container__first-task .container__body form {
    width: 500px;
  }
}

@media (max-width: 767px) {
  .footer .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 520px) {
  .header {
    padding: 0 50px;
  }

  .header .menu__body {
    width: 70vw;
  }

  .header .menu__body .body__container .menu__burger {
    right: 50px;
  }

  .header .menu__body .body__container .nav {
    left: 10px;
  }

  .menu__icon {
    width: 30px;
    height: 30px;
  }

  .menu__icon span {
    top: 8px;
    height: 3px;
  }

  .menu__icon span:nth-child(2) {
    top: 12px;
  }

  .menu__icon span:last-child {
    top: 26px;
  }

  .section {
    padding: 20px 20px;
  }

  .section__first-task .container__first-task .container__body form {
    width: 400px;
  }

  .section__first-task .container__first-task .container__body form .input__data .container__input p {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }

  .section__first-task .container__first-task .container__body form .input__data .container__input .rating {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (max-width: 420px) {
  .section__first-task .container__first-task .container__body form {
    width: 300px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 520px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 420px){

@supports (-webkit-appearance:none){

}

}
